<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 다운로드</title>
    <script>
        function downloadFile() {
            const filename = 'yourFolderName/12de6241-965a-4a13-93cb-21706375c0f42024년 재개발임대주택 모집공고문 (1).pdf';
            const url = `http://localhost:8080/multipart-files?originalFilename=${filename}`;
            window.location.href = url; // 새 창에서 다운로드 요청
        }
    </script>
</head>
<body>
<h1>파일 다운로드 버튼</h1>
<button onclick="downloadFile()">다운로드</button>
</body>
</html>